<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Admin Details</h1>

<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Admin Details</h6>
      <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink" *ngIf="adminDetail">
              <div class="dropdown-header" >Actions:</div>
              <a class="dropdown-item" [routerLink]="['/user/update', adminDetail._id]">Edit</a>
              <a class="dropdown-item" (click)="delete(adminDetail._id)">Delete</a>
          </div>
      </div>
  </div>
  <!-- Card Body -->
  <div class="card-body" *ngIf="adminDetail">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tbody>
          <tr>
            <td>First Name:-</td>
            <td>{{adminDetail?.firstname}}</td>
          </tr>
          <tr>
            <td>Last Name:-</td>
            <td>{{adminDetail?.lastname}}</td>
          </tr>
          <tr>
            <td>Username:-</td>
            <td>{{adminDetail?.username}}</td>
          </tr>
          <tr>
            <td>Email:-</td>
            <td>{{adminDetail?.email}}</td>
          </tr> <tr>
            <td>Phone:-</td>
            <td>{{adminDetail?.phone}}</td>
          </tr>
          <tr>
            <td>Active:-</td>
            <td>{{adminDetail?.isActive}}</td>
          </tr>
          <tr *ngIf="adminDetail.profImage">
            <td>Photo:-</td>
            <td><img [src]="adminDetail.profImage"></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</div>
