<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Forum</h1>


  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Forum listing</h6>
          <div class="card-header py-3 " style="display: flex; justify-content: flex-end;">
            <div>
            <select (change)="changeFilter($event.target)" class="form-control" *ngIf="categoryList">
              <option value="">All</option>
              <option *ngFor="let cat of categoryList" [value]="cat._id" >{{cat.name}}</option>
            </select>
          </div>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Sl.no</th>
                          <th>Title</th>
                          <th>Category</th>
                          <th>Status</th>
                          <th style="width: 25%;">Action</th>

                      </tr>
                  </thead>
                  <tbody *ngIf="isLoaded && postListData;else no_result">
                      <tr *ngFor="let post of postListData | paginate: { itemsPerPage: 10, currentPage: p };let i=index">
                          <td>{{ i+1 }}</td>
                          <td>{{ post.title }}</td>
                          <td>{{ post.category[0].name}}</td>
                          <td>{{ (post.isActive == true) ? 'Active' : 'Inactive' }}</td>
                          <td class="button-alignment">
                            <button class="btn btn-primary  btn-circle btn-lg" data-toggle="tooltip" data-placement="top" title="View" type="button" [routerLink]="['/forum', post._id]"><i class="fas fa-eye fa-sm"></i></button>
                          </td>
                      </tr>
                      <ng-template #no_result><tr><td colspan="4">No data found</td></tr></ng-template>
                  </tbody>
              </table>
              <div>
                <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
              </div>
          </div>
      </div>
  </div>

</div>
<!-- /.container-fluid -->
