<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Posts</h1>


  <!-- DataTales Example -->
  <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Post listing</h6>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                      <tr>
                          <th>Sl.no</th>
                          <th>Title</th>
                          <th>Created By</th>
                          <th style="width: 25%;">Action</th>

                      </tr>
                  </thead>
                  <!-- <tfoot>
                      <tr>
                        <th>Sl.no</th>
                        <th>Title</th>
                        <th>Created By</th>
                        <th>Action</th>
                      </tr>
                  </tfoot> -->
                  <tbody *ngIf="isLoaded && postListData;else no_result">
                      <tr *ngFor="let post of postListData;let i=index">
                          <td>{{ i+1 }}</td>
                          <td>{{ post.title }}</td>
                          <td>Admin</td>
                          <td class="button-alignment">
                            <button class="btn btn-primary  btn-circle btn-lg" data-toggle="tooltip" data-placement="top" title="View" type="button"><i class="fas fa-eye fa-sm"></i></button>
                            <button class="btn btn-warning  btn-circle btn-lg" data-toggle="tooltip" data-placement="top" title="Edit" type="button"><i class="fas fa-pen fa-sm"></i></button>
                            <button class="btn btn-danger  btn-circle btn-lg" data-toggle="tooltip" data-placement="top" title="Delete" type="button"><i class="fas fa-trash fa-sm"></i></button>
                          </td>
                      </tr>
                      <ng-template #no_result><tr><td colspan="4">No data found</td></tr></ng-template>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>
<!-- /.container-fluid -->
