.edit-profile {
  display: flex !important;
    flex-direction: row;
}


.profile-photo {
  position: relative !important;
  width: 100% !important;
  max-width: 400px !important;
  margin: 0 auto;
}

.profile-photo img {
  width: 100% !important;
  height: auto !important;
}

.profile-photo .btn {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%)  !important;
  -ms-transform: translate(-50%, -50%)  !important;
  background-color: #5555556e !important;
  color: white  !important;
  font-size: 16px !important;
  padding: 12px 24px !important;
  border: none !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  text-align: center !important;
}

.profile-photo .btn:hover {
  background-color: black;
}


/* .profile-photo .btn {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

#file-chosen{
  margin-left: 0.3rem;
  font-family: sans-serif;
} */

.file-input {
  display: none;
}
